include pyhadith/language/*
include pyhadith/models/muqasim/tagger/*
include pyhadith/models/muqasim/vocab/*
include pyhadith/models/muqasim/*
include pyhadith/models/masdar/textcat/*
include pyhadith/models/masdar/vocab/*
include pyhadith/models/masdar/*
include pyhadith/models/musaid/ner/*
include pyhadith/models/musaid/vocab/*
include pyhadith/models/musaid/*
include pyhadith/models/rawa/ner/*
include pyhadith/models/rawa/vocab/*
include pyhadith/models/rawa/*